*{
    text-align: center;

}
h1{
    font-family: Georgia, 'Times New Roman', Times, serif;

}
button {
    padding: 18px 20px;
    background-color: #005f1d;
    color: aliceblue;
    border: none;
    border-radius: 5px;
    cursor:pointer;

}

p{
font-family: monospace;
font-size: 13px;

}


mensagem {
    color: rgb(18, 121, 235)

}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100px;
    background-color: azure;
}